.High{
    background: rgb(255, 226, 221);
}
.Medium{
    background: rgb(253, 236, 200);
}
.Low{
    background: rgb(219, 237, 219);
}
.Lowest{
    background: rgb(238, 224, 218);
}
.bug{
    background: rgb(255, 226, 221);
}
.newTask{
    background: rgb(211, 229, 239);
}